/* geral */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

:root {
    --preto: #060608;
    --vermelho: #FF2525;
    --amarelo: #FFE53B;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #060608;
}

span {
    background-image: linear-gradient(to right, #FFE53B, #FF2525); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

/* header */
.box-logo img {
  width: 180px;
  position: absolute;
  top: 10px;
  left: 5%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin-top: 1%;
}

.links {
    background: rgba( 255, 255, 255, 0.05 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); 
    padding: 10px 15px;
    border-radius: 9999px;
}

.links a {
    margin-right: 40px;
    padding: 5px 20px;
    text-decoration: none;
    color: white;
    border-radius: 9999px;
}

.links a:last-child {
    margin: 0;
}

.links a:hover {
    background-image: linear-gradient(45deg, #FFE53B, #FF2525);
    color: white;
    box-shadow: rgba(#FFE53B, #FF2525, 0.5) 0px 0px 20px 0px;
    border: 2px double transparent;
    background-image: linear-gradient(#262628, #262628), radial-gradient(circle at left top, #FFE53B, #FF2525);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.links .home {
    border: 2px double transparent;
    background-image: linear-gradient(#262628, #262628), radial-gradient(circle at left top, #FFE53B, #FF2525);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: white;
}

/* inicio */

.inicio {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
}

.container_info {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 5%;
}

.inicio h1 {
    font-size: 80px;
    width: 100%;
    color: white;
    margin-bottom: 5px;
}

.inicio h1 span {
    background-image: linear-gradient(to right, #FFE53B, #FF2525); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

.btn_inicio {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 9999px;
    cursor: pointer;
    background-color: var(--preto);
    color: white;
    font-weight: 700;
    transition: 750ms;
    box-shadow: 0px 0px 60px #ff2525bb;
    text-decoration: none;
    width: 90px;
}

.btn_inicio:active {
    scale: 0.92;
}

.btn_inicio:hover {
    background: rgba(255, 37, 37, 0.873);
    background: linear-gradient(270deg, rgba(255, 215, 59, 0.693) 0%, rgba(255, 37, 37, 0.873) 60%);
    color: var(--preto);
}

.img_inicio {
    width: 45%;
    margin-right: 5%;
    transition: 750ms;
}

.img_inicio:hover {
    transform: scale(1.05);
}

/* efeito glass */
.glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 97%;
    overflow: hidden;
    z-index: -1;
}

.glass li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba( 255, 255, 255, 0.1 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    animation: spin 5s linear infinite;
    bottom: -150px;
}

.glass li:nth-child(1) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}

.glass li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.glass li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.glass li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 4s;
    animation-duration: 18s;
}

.glass li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.glass li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.glass li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.glass li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.glass li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.glass li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes spin {
    0% {
        transform: translateY(0);
        rotate: (0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px);
        rotate: (720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
/* fim efeito glass */

/* sobre  */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_sobre {
    width: 98%;
    background-color: rgba( 255, 255, 255, 0.05 );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.089);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.container_sobre h1 {
    color: white;
    margin: 2% 5%;
    text-align: center;
}

.container_sobre h1 span {
    background-image: linear-gradient(to right, #FFE53B, #FF2525); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

.container_box0 {
    width: 80%;
    height: 60vh;
    background-color: transparent;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.container_box3 h1 {
  color: white;
  font-size: 30px;
  margin: 5% 10%;
}

.container_box2 h1 {
  color: white;
  font-size: 30px;
  margin: 5% 10%;
}

.container_box1 {
    width: 40%;
    height: 95%;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.container_box1 img {
  width: 100%;
}

.container_box1 img:nth-child(2) {
  width: 50%;
}

.container_box2 {
    width: 60%;
    height: 95%;
    margin: 1%;
    background-color: hsla(240, 15%, 9%, 1);
    background-image: radial-gradient(at 88% 40%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 0% 64%, hsl(0, 100%, 57%) 0px, transparent 85%),
    radial-gradient(at 41% 94%, rgb(255, 158, 117) 0px, transparent 85%),
    radial-gradient(at 100% 99%, hsl(52.041, 100%, 62%) 0px, transparent 85%);
    border-radius: 1rem;
    box-shadow: 0px -16px 24px 0px rgba(0, 0, 0, 0.25) inset;
}

.container_box3 {
    width: 60%;
    height: 95%;
    margin: 1%;
    background-color: hsla(240, 15%, 9%, 1);
    background-image: radial-gradient(at 88% 40%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 0% 64%, hsl(0, 100%, 57%) 0px, transparent 85%),
    radial-gradient(at 41% 94%, rgb(255, 158, 117) 0px, transparent 85%),
    radial-gradient(at 100% 99%, hsl(52.041, 100%, 62%) 0px, transparent 85%);
    border-radius: 1rem;
    box-shadow: 0px -16px 24px 0px rgba(0, 0, 0, 0.25) inset;
}

.container_box4 {
    width: 40%;
    height: 95%;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_box4 img {
  width: 100%;
}

.texto-containerbox {
  color: white;
  font-size: 20px;
  text-align: justify;
  margin: 40px 12%;
  word-spacing: 5px;
  line-height: 30px;
}

/* luz */

/* .luz {
  color: white;
}

.switch {
  font-size: 20px;
  position: relative;
  display: inline-block;
  width: 6em;
  height: 3em;
}

.switch .cb {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #3d3d3d;
  border-radius: .1em;
  transition: 10s;
  font-weight: 700;
  overflow: hidden;
  box-shadow: -.3em 0 0 0 #3d3d3d,-.3em .3em 0 0 #3d3d3d,.3em 0 0 0 #3d3d3d,.3em .3em 0 0 #3d3d3d,0 .3em 0 0 #3d3d3d;
}

.toggle > .left {
  position: absolute;
  display: flex;
  width: 50%;
  height: 88%;
  background-color: #ffffffcc;
  color: #ff0000da;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  transform-origin: right;
  transform: rotateX(10deg);
  transform-style: preserve-3d;
  transition: all 150ms;
}

.left::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(112, 112, 112);
  transform-origin: center left;
  transform: rotateY(90deg);
}

.left::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(112, 112, 112);
  transform-origin: center bottom;
  transform: rotateX(90deg);
}

.toggle > .right {
  position: absolute;
  display: flex;
  width: 50%;
  height: 88%;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(206, 206, 206);
  right: 1px;
  bottom: 0;
  align-items: center;
  justify-content: center;
  transform-origin: left;
  transform: rotateX(10deg) rotateY(-30deg);
  transform-style: preserve-3d;
  transition: all 150ms;
}

.right::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(112, 112, 112);
  transform-origin: center right;
  transform: rotateY(-90deg);
}

.right::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(112, 112, 112);
  transform-origin: center bottom;
  transform: rotateX(90deg);
}

.switch input:checked + .toggle > .left {
  transform: rotateX(10deg) rotateY(30deg);
  color: rgb(206, 206, 206);
}

.switch input:checked + .toggle > .right {
  transform: rotateX(10deg) rotateY(0deg);
  color: #33b833;
} */

/* tablet */

.tablet {
    width: 70%;
    height: 75vh;
    border-radius: 20px;
    border: #4a4a4b 3px solid ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
}

.border2 {
    width: 98%;
    height: 98%;
    border-radius: 20px;
    box-shadow: #848484 1px 2px 10px;
    display: flex;
    flex-direction: row;
}

.yt-box1 {
    width: 70%;
    height: 100%;
    margin: 1px;
}

.yt-box1 iframe {
    width: 96%;
    height: 80%;
    margin: 10px 10px 0 10px;
    border-radius: 20px;
}

.yt-box2 {
    width: 30%;
    height: 100%;
    margin: 1px;
}

.yt-row {
  display: flex;
  flex-direction: row;
}

.yt-infos {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.yt-infos img {
  width: 40px;
  margin: 0 5px 0 0;
}

.yt-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 10px;
  color: white;
  background-color: rgba( 255, 255, 255, 0.05 );
  border-radius: 20px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 0.8rem;
  margin: 5px;
}

.yt-infos ion-icon {
  margin: 0 5px 0 0;
}

.profile {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 0.9rem;
  color: white;
}

.inscritos {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 0.7rem;
  color: white;
}

.tablet h2 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 2.8rem;
  font-weight: 700;
  color: white;
  margin: 0 10px;
}

.yt-anuncio {
  width: 98%;
  height: 15vh;
  background-color: #262628;
  border-radius: 10px;
  margin: 10px 0;
}

.yt-anunciotexto {
  width: 100%;
  height: 60%;
  background-color: rgba( 255, 255, 255, 0.05 );
  bottom: 0;
  border-radius: 10px 10px 0 0;
}

.yt-videos {
  width: 98%;
  height: 23%;
  background-color: #262628;
  border-radius: 10px;
  margin: 10px 0;
}

/* planos pagamento */

.planos_pagamento {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card {
    width: 190px;
    height: 254px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
  }
  
  .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
  }
  
  .card:hover {
    transform: scale(1.04) rotate(1deg);
  }
  
  .circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#FFE53B, #FF2525);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
  }
  
  .circle:nth-child(1) {
    top: -25px;
    left: -25px;
  }
  
  .circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
  }

  .circle:nth-child(3) {
    top: -25px;
    right: -25px;
  }
  
  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(10px);
    }
  }

  .cardContainer {
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
  }

  .cardContainer h1 {
    color: white;
  }
  
  .card {
    position: relative;
    width: 220px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background-color: rgba(65, 65, 65, 0.308);
    border: 1px solid rgba(255, 255, 255, 0.089);
    cursor: pointer;
  }
  
  .cardContainer::before {
    width: 100px;
    height: 100px;
    content: "";
    position: absolute;
    background-color: rgba(255, 37, 37, 0.873);
    z-index: -1;
    border-radius: 50%;
    left: 100px;
    top: 50px;
    transition: all 1s;
  }
  
  .cardContainer:hover::before {
    transform: translate(-50px, 50px);
  }

  .price-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    font-family: sans-serif;
    font-size: 4.5rem;
    line-height: 1;
  }
  
  .price-container span:first-child {
    margin-top: 10px;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  
  .price-container span:last-child {
    align-self: flex-end;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .btn-price {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 9999px;
    cursor: pointer;
    background-color: var(--preto);
    color: white;
    font-weight: 700;
    transition: 750ms;
    text-decoration: none;
}

.btn-price:active {
    scale: 0.92;
}

.btn-price:hover {
    background: rgba(255, 37, 37, 0.873);
    background: linear-gradient(270deg, rgba(255, 215, 59, 0.693) 0%, rgba(255, 37, 37, 0.873) 60%);
    color: var(--preto);
}

/* contato */

.container-contato {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.contato-texto {
    width: 50%;
    height: 60vh;
    margin: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
}

.contato-texto h1 {
    font-size: 400%;
}

.contato-texto p {
    max-width: 70%;
}

.contato-inputs {
    width: 50%;
    height: 60vh;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.input {
    background-color: rgba( 255, 255, 255, 0.05 );
    border: none;
    padding: 15px;
    border-radius: 10px;
    outline: none;
    color: white;
    margin: 2px;
  }
  
  .input:focus {
    animation: rotateShadow 2s infinite linear;
  }
  
  @keyframes rotateShadow {
    0% {
      box-shadow: -2px -2px 20px 0px #FF2525, 2px 2px 10px 0px #FFE53B;
    }
    25% {
      box-shadow: -2px 2px 20px 0px #FF2525, 2px -2px 10px 0px #FFE53B;
    }
    50% {
      box-shadow: 2px 2px 20px 0px #FF2525, -2px -2px 10px 0px #FFE53B;
    }
    75% {
      box-shadow: 2px -2px 20px 0px #FF2525, -2px 2px 10px 0px #FFE53B;
    }
    100% {
      box-shadow: -2px -2px 20px 0px #FF2525, 2px 2px 10px 0px #FFE53B;
    }
  }

  .input-row {
    display: flex;
    flex-direction: row;
  }

  #input-tipo {
    width: 50%;
  }

  #input-nome {
    width: 50%;
  }
  
  #input-email {
    width: 50%;
  }

  #input-telefone {
    width: 50%;
  }

  #input-mensagem {
    height: 80px;
  }

  .radios {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba( 255, 255, 255, 0.05 );
    border-radius: 10px;
    padding: 15px;
    margin: 2px;
    font-size: small;
    font-weight: 100;
  }

  .checkbox {
    margin: 10px 0;
  }

  .radios p {
    margin: 10px 0 ;
  }

  .contato-btn {
    margin: 2px;
    padding: 10px 20px;
    background-color: rgba( 255, 255, 255, 0.05 );
    border: none;
    width: 200px;
    color: rgba( 255, 255, 255, 0.5 );
    transition: 750ms;
    border-radius: 9999px;
    cursor: pointer;
  }

  
  .contato-btn:active {
    scale: 0.92;
  }

  .contato-btn:hover {
    background: rgba(255, 37, 37, 0.873);
    background: linear-gradient(270deg, rgba(255, 215, 59, 0.693) 0%, rgba(255, 37, 37, 0.873) 60%);
    color: var(--preto);
    font-weight: 700;
  }

  /* footer */

  footer img {
    width: 100%;
    position: absolute;
    z-index: -1;
  }

  footer {
    margin-top: 10%;
    margin-bottom: 2%;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .container-footer {
    margin-top: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .container-footer h3 {
    font-weight: 700;
    font-size: 1.4rem;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .linksfot {
    text-decoration: none;
    color: rgba( 255, 255, 255, 0.5 );
    margin: 5px 0;
  }

  .footer-icon {
    text-decoration: none;
    color: rgba( 255, 255, 255, 0.5 );
    margin: 5px 0;
  }

  .underline {
    width: 100%;
    height: 5px;
    background-color: transparent;
    border-radius: 3px;
    margin-bottom: 10px;
  }

  .underline .span {
    width: 15px;
    height: 100%;
    background: linear-gradient(270deg, rgba(255, 37, 37, 0.873) 0%, transparent 60%);
    border-radius: 3px;
    animation: moving 2s linear infinite;
  }

  @keyframes moving {
    0% {
      
    }
    100% {
      width: 100%;
    }
  }

  /* responsividade  */

  @media (max-width: 850px) {
    .container_box0 {
      flex-direction: column;
    }
  }
  